:root{  /*definições que podem ser utilizadas por todo o documento css*/
    --branco-principal: #ff0000;/* cria uma variavel e coloca o valor da cor dentro dela*/
    --cinza-secundario: #ff0000;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inter';/*cria uma variavel e coloca o valor da fonte dentro dela*/
    --botao-azul-efeito:#076eec;

}
body{
    background-color: var(--cor-de-fundo);/*define a cor do fundo da pagina inteira*/
    color: var(--branco-principal);/*define a cor do texto da pagina inteira*/
    font-family: var(--fonte-principal);/*define o estilo da fonte de texto da pagina*/
    font-weight: 1000    ;/* define o sub-estilo da fonte*/
}
* {
    margin:0;
    padding: 0;
}
.principal{
    background-image: url(img/Background.png); /* define a 1ª imagem de fundo*/
    background-repeat: no-repeat; /* faz com que a imagem de fundo não seja repetida*/
    background-size: contain; /*define que a imagem de fundo esta contida dentro do container*/ 
    align-items: center;/*alinha todos os itens de um conteiner ao centro*/
    text-align: center;/*alinha todos os textos ao centro*/
}
.container{
    height: 100vh;/*define que a imagem de fundo ocupara todo o container*/
    display: grid;/*define o display do container no formato de grade*/
    grid-template-columns: 50% 50%; /*altera o estilo do grid de linhas para colunas e define o tamanho das colunas*/
}
.container__botao{/*configurações de estilo do botão primario */
    background-color: var(--botao-azul); /*define a cor de fundo do botao*/
    border-radius: 5px; /*para fazer com que as bordas do botao fiquem arredondadas*/
    padding: 1em; /*define o padding para o tamanho da fonte*/
    color: var(--branco-principal);/*define a cor do texto*/
    display: block;/*para definir o estilo de display em bloco*/
    text-decoration: none;/*define que todas as decorações do texto sejam retiradas*/
    margin-bottom: 1em;/*cria uma margem na parte inferior do botao*/
}
.botao_secundario{/*configurações de estilo do botão secundario*/
    background-color: transparent;/*define que a cor do fundo do botao sera transparente*/
    border: 2px solid var(--branco-principal);/*define o tamanho, o estiloe a cor da borda do botao*/
}
.container__aviso{/*configurações de estilo do aviso que esta embaixo do botao secundario*/
    font-size: 12px;/*define o tamanho do texto*/
    color: var(--cinza-secundario);/*define a cor do texto*/
}
.container__titulo{/*configurações de estilo do titulo*/
    font-size: 35px;
    font-weight: 900;
}
.container__imagem{/*configurações de estilo da imagem*/
    margin: 1em 0 2em 0;/*define as configurações de margem 1ºvalor:superior / 2ºvalor: a direita / 3ºValor: inferior/ 4ºValor: a esquerda*/
}
.container__caixa{/*configurações de estilo da div que emgloba a primeira parte da pagina*/
    margin: 0   6em;
    
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.secundario__imagem{/*configurações da segunda imagem*/
    width: 80%;/*define o tamanho da imagem*/

}
.secundario{/*configurações da segunda seção*/
    align-items: center;
    margin: 0 10em;
}
.descricao__titulo{/*configurações da segundo titulo*/
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}
.descricao__texto{
    color: var(--cinza-secundario);
}
.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}
.container__descricao{
    padding: 2em;
}

/*--------------------------------------------------------------------------------------------*/
.dispositivos__lista{/*configurações de estilos dos icones */
    display: flex;/*coloca os itens de dentro e uma lista um ao lado do outro*/
    justify-content: center;/*centraliza os itens de dentro de uma lista*/
    list-style-type: none; /*retira o estilo aplicado a uma lista*/
    margin: 5em 0;/*define a margem superior e inferior como 5em e as margens da esquerda e direita como 0*/
}
.dispositivos{
    text-align: center;/*centraliza todos os itens de uma linha*/
}
.dispositivos__titulo{
    font-size:48px;
    color: var(--branco-principal);

}
.lista__item{
    font-size: 32px;
    color: var(--branco-principal);
}
/*---------------------------------------------------------------------------------------------------*/
.rodape__lista{ /*configurações da lista no rodape da pagina*/
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 3em;
}
.lista__link a{/*configurações dos links dentro da lista no rodape*/
    margin: 1em 3em;
    color: var(--branco-principal);
    text-decoration: none;
}
.rodape{
    text-align: center;
    margin: 0 3em;
}
.rodape__logo{
    margin-bottom: 2em;
}
.rodape__texto{
    margin-bottom: 1em;
}


/*Efeitos Extras------------------------------------------------------------------------*/
.lista__link a:hover{/*destaca os links no rodape quando o mouse passar por cima deles*/
    color: var(--botao-azul);
}
.lista__link a:active{/*troca a cor dos links no rodape para roxo enquanto forem clicados*/
    color: purple;
}
.container__botao:hover{/*altera a cor dos botoes e destaca o texto deles quando o mouse estiver em cima do botao*/
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

